@model IEnumerable<ECommerce.API.DTOs.ImageCreateUpdateDTO>

@{
    ViewData["Title"] = "Image Create";
}

<h2>Error</h2>

    <a asp-action="Index">Back to Image</a>
    <a asp-action="Create">To Create</a>