<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECommerce.Customer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ECommerce.Customer.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/179bca1fd6.js" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="~/css/HomePage.css"/>
    <link rel="stylesheet" href="~/css/Navbar.css"/>
    <link rel="stylesheet" href="~/css/Footer.css"/>
</head>
<body>
    <header>
        <nav class="navbar-container">
            <div class="navbar-logo">
                <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="navbar-logo-img" src="/Images/NavbarLogo.png" alt="navber-logo-img"/>
                </a>
            </div>
            <div class="navbar-links-container">                
                <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a> 
                <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">Shop</a> 
                <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">About Us</a> 
                <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Privacy">Contacts</a>                    
                <a class="navbar-link" asp-area="" asp-controller="Image" asp-action="Index">Image</a>
                <a class="navbar-link" asp-area="" asp-controller="Vegetable" asp-action="Index">Product</a>
            </div>
            <div class="navbar-icons-container">                
                <a class="navbar-link navbar-icon" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-magnifying-glass"></i></a> 
                <a class="navbar-link navbar-icon" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a> 
            </div>
            <button class="navbar-extra-container">      
                <i class="fa-solid fa-seedling navbar-extra-icon"></i>
            </button>
        </nav>
    </header>
    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-muted">
        <div class="footer-container">
            
            <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index"><img class="footer-logo-img" src="/Images/NavbarLogo.png" alt="navber-logo-img"/></a> 
            <div class="footer-links">
                <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a> 
                <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">Shop</a> 
                <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">About Us</a> 
                <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Privacy">Contacts</a>                    
                <a class="navbar-link" asp-area="" asp-controller="Image" asp-action="Index">Image</a>
                <a class="navbar-link" asp-area="" asp-controller="Vegetable" asp-action="Index">Product</a>
            </div>
            <p>Copyright © 2022 by VINZ. All Rights Reserved.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
