@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="error-container">
    <img src="/Images/HomepageTextImg.png" />
    <div class="error-right">
        <h1 class="">Please login to continue !!</h1>
        <a class="button" asp-area="" asp-controller="Home" asp-action="Login">TO LOGIN</a> 
    </div>
</div>


