@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meddon&family=Nunito+Sans:ital@0;1&family=Poppins&display=swap');


/*HOMEPAGE HEADER*/
.homepage-header-container {
}

.homepage-header-container:after {
    content: "";
    background: url("/Images/HomepageHeaderBG.webp");
    opacity: 0.05;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

.homepage-header{
    display:flex;
}

.homepage-header-text{
    flex-basis:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.homepage-header-text-wrapper {
    padding-left:300px;
}

.homepage-header-text-wrapper h1 {
    font-size: 80px;
    font-family:'Nunito Sans';
    font-weight:bold;
}

.homepage-header-text-wrapper p {
    font-size: 17px;
    font-family: 'Nunito Sans';
    padding-bottom: 20px;
}

.homepage-header-text-wrapper a{
    margin:0;
}

.button {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FA6C47;
    font-family: 'Nunito Sans';
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: 1px transparent solid;
    text-decoration: none;
    transition: .2s;
    cursor: pointer;
    margin: 10px;
}

.button:hover {
    border: 1px #FA6C47 solid;
    background-color: white;
    font-family: 'Nunito Sans';
    font-weight: bold;
    color: #FA6C47;
    border-radius: 5%;
    transition: .2s;
}

.homepage-header-img img {
    clip-path: circle(300px at center);
}


/*HOMEPAGE BEST SELLER*/

.homepage-best-seller{
    background-color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.homepage-best-seller-text{
    display:flex;
    align-items:center;
    flex-direction:column;
    padding-top: 20px;
}

.homepage-best-seller-text h2 {
    font-family: 'Meddon', cursive;
    color: #FA6C47;
}

.homepage-best-seller-text h1 {
    font-family: 'Nunito Sans', cursive;
    font-weight:bold;
    padding: 20px 0;
}

.homepage-best-seller-text p {
    font-family: 'Nunito Sans', cursive;
    font-size:17px;
}

.homepage-products{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.best-seller-row{
    display:flex;
    justify-content:center;
    max-width:1400px;
    flex-wrap:wrap;
}
.best-seller-row .product:nth-child(n+9){
    display:none;
}


.product {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.1);
    max-width: 280px;
    max-height: 400px;
    height: 400px;
    width: 280px;
    align-items: center;
    justify-content: center;
    transition: .3s;
    margin: 25px;
}

.product img{
    max-width:200px;
    margin-bottom:20px;
}

.product p {
    font-family:'Nunito Sans';
    font-size: 20px;
}

.product p i{
    color:orange;
}

.product-name{
    font-weight:bold;
}

.product-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    width: 280px;
    height: 400px;
    opacity: 0;
    transition: opacity .35s ease;
}

.product:hover {
    border:2px solid #98AA49;
    cursor:pointer
}

.product:hover .product-btns {

    opacity:1;
    transition: opacity .35s ease;
}

.homepage-best-seller-btns{
    display:flex;
    justify-content:center;
}

/*LOGIN SECTION*/

.login-container{
    display:flex;
    margin-top:50px;
    height:700px;
    align-items:center;
}


.login-img {
    display: flex;
    flex-basis: 60%;
    justify-content: flex-end;
}

.login-img img{
    min-height:600px;
    width:500px;
}

.login-form {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 500px
}

.login-form-title{
    position:relative;
    width:100%;
    display:flex;
    justify-content:center;
    max-width:300px;
}

.login-form-title h1{
    font-family:'Nunito Sans';
    font-weight:bold;
}

.login-form-title h1::before {
    content: " ";
    background-color: #FA6C47;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 50px;
}

.login-form-input-section {
    display: flex;
    flex-direction: column;
    margin:0;
}

.login-form-input-section label {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 40px;
    font-family: 'Nunito Sans';
}

.login-form-input-field {
    width: 500px;

    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.login-form-input-field:focus {
    outline: none;
    border-bottom: 2px solid rgba(0,0,0,0.5);
}

.login-form-forget-password-container{
    display:flex;
    justify-content:flex-end;
    width:100%;
    max-width:500px;
    margin-top:10px;
}

.login-form-forget-password {
    font-family: 'Nunito Sans';
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: .2s;
    
}

.login-form-forget-password:hover {
    color: #FA6C47;
    transition: .2s;
}

    .login-form-buttons {
        display: flex;
    }


.login-form-buttons .button {
    margin: 0;
    margin: 20px;
    min-width: 230px;
}

