@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Poppins&display=swap');
/*BANNER*/
.banner {
    height: 400px;
    display: flex;
    background: url("/Images/Banner.png") no-repeat repeat right;
    background-color: #F7F6F1;  
    width:100%;
    align-items:center;

}
.banner h1 {
    font-family: 'Nunito Sans';
    font-size: 50px;
    font-weight: bold;
    margin-left: 25%;
}

.banner h1 i {
    color: #98AA49;
}

/*SHOP SECTION*/
.shop-section{
    display:flex;
    width:100%;
    margin-top:100px;
    padding-bottom:50px;
}

.product-side{
    display:flex;
    flex-basis:100%;
    padding-left:15%;
    flex-wrap:wrap;
}

.product-side .product{
    display:none;
}

    .product-side .product:nth-child(1),
    .product-side .product:nth-child(2),
    .product-side .product:nth-child(3),
    .product-side .product:nth-child(4),
    .product-side .product:nth-child(5),
    .product-side .product:nth-child(6),
    .product-side .product:nth-child(7),
    .product-side .product:nth-child(8),
    .product-side .product:nth-child(9) {
        display: flex;
    }
.sort-side {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    margin-top: 50px;
}

.subtext{
    color: rgba(0,0,0,0.5);
}

.sort-side h3{
    font-family:'Nunito Sans';
    font-weight:bold;
}

.sort-side h3:before {
    content: "";
    width: 5px;
    height: 30px;
    background-color: #FA6C47;
    position: absolute;
}

.sort-side a{
    text-decoration:none;
    color:black;
    font-family:'Nunito Sans';
    font-size: 16px;
    font-weight:bold;

}

.sort-side li {
    color: gray;
    margin: 10px 0px;
    max-width:250px;
    cursor:pointer;
}

.sort-side li:hover {
    color: #FA6C47;
}

.sort-side li:hover a {
    color: #FA6C47;
}
.sort-side li:hover .subtext{
    color: #FA6C47;
}

#load-more-button{
    position:absolute;
    bottom:16.5%;
    left: 36.5%;
}

/*PRODUCT DETAIL*/

.product-detail-section{
    display: flex;
    width:100%;
    margin-top :100px;
}



.product-img {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
}

.product-img img {
    max-width: 500px;
    max-height:500px;
    min-height:500px;
    border: 1px rgba(0,0,0,0.1) solid;
    margin-right:50px;
}

.product-detail-text {
    display: flex;
    flex-basis: 90%;
    flex-direction: column;
    justify-content:space-between;
}

.product-detail-text h1 {
    font-family:'Nunito Sans';
    font-weight:bold;
    font-size:50px;
}

.product-detail-text p {
    font-family: 'Nunito Sans';
    font-size: 20px;
}

.product-detail-price {
    color: #FA6C47;
}

.product-detail-text p i{
    color: orange;
}

.product-detail-description{
    max-width:500px;
    color: rgba(0,0,0,0.5)
}

.product-detail-buttons{
    display:flex;
}

.product-detail-text a button{
    margin: 0;
    margin-right:20px;
}

.product-detail-text i{
    color:orange;
}

.product-detail-page .homepage-best-seller{
    margin-top:100px;
}

.product-detail-page .product:nth-child(n+5) {
    display: none;
}

.product-detail-page .homepage-best-seller-text {
    align-items: flex-start;
    width: 1250px;
    max-width: 1400px;
}

/*RATING*/
.rating-input{
    display:flex;
    align-items:center;
}

.rating-input p {
    margin:0;
}

.rating-input select{
    border:none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size:20px;
}

.rating-input select:focus {
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,1);
}

.rating-list-section{
    margin-top:100px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding:0 450px;
}

.rating-list-section h2 {
    margin-bottom: 50px;
    color: #FA6C47;
}

.rating-list-item {
    display: flex;
    margin-top:20px;
}

.rating-right{
    margin-left:20px;
}

.rating-left img{
    max-width:100px;
    border-radius:50%;
    background-color:rgba(0,0,0,0.1);
}

.rating-right p{
    font-family:'Nunito Sans';
}

.rating-right p i{
    color:orange;
}

.rating-right-name {
    font-weight:bold;
}

.rating-list-items .rating-list-item:nth-child(n+6) {
    display: none;
}

.rating-list-button{
    display:flex;
    justify-content:center;
    width:100%;
}