@model IEnumerable<ECommerce.SharedDataModels.VegetableDTO>

@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage-container">
    <div class="homepage-header-container">
        <div class="homepage-header">
            <div class="homepage-header-text">
                <div class="homepage-header-text-wrapper">
                    <img src="/Images/HomepageTextImg.png" />
                    <h1>Choosing The Right Nutrition</h1>
                    <p>With an emphasis on Organic and Local, we do as little conventional shopping as possible. We are always open to suggestions.</p>
                    <a class="button">BUY NOW</a>
                </div>
            </div>
            <div class="homepage-header-img">
                <img src="/Images//HomepageImg.png"/>
            </div>
        </div>
    </div>
    <div class="homepage-best-seller">
        <div class="homepage-best-seller-text">
            <h2 >- power of nature -</h2>
            <h1>Best Sellers Products</h1>
            <p>We support environmental awareness, just business practices, and health, and our selections illustrate that.</p>
        </div>
        <div class="homepage-products">
            <div class="best-seller-row">
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <div class="product">
                            <img src="/Images//ProductDummy.jpg" />
                            <p class="product-name">@item.Name</p>
                            <p>@item.Price</p>
                            <p>4.5 <i class="fa-solid fa-star"></i></p>
                            <div class="product-btns">
                                <a class="button">SEE DETAIL</a>
                                <a class="button">ADD TO CART</a>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="homepage-best-seller-btns"><a class="button">SEE MORE</a></div>
        </div>
    </div>
</div>