@model ECommerce.SharedDataModels.Authenticate.AuthenticateRequestDTO
@{
    ViewData["Title"] = "Login";
}


<form asp-action="Login"> 
<div class="login-container">
    <div class="login-img">
         <img src="/Images/LoginImg.jpg" />
    </div>
    <div class="login-form">
        <div class="login-form-title"><h1>WELCOME</h1></div>
        <div class="login-form-input-section">
            <label class="login-label">Username</label>
            <input asp-for="Username" type="text" class="login-form-input-field" name="Username" />
            <label class="login-label">Password</label>
            <input asp-for="Password" type="password" class="login-form-input-field" name="Password" />
        </div>
        <div class="login-form-forget-password-container">
            <a asp-action="" class="login-form-forget-password">Forgot your password?</a>
        </div>
        <div class="login-form-buttons">        
            <button type="submit" class="button">LOGIN</button>
            <a asp-action="" class="button">REGISTER</a>
        </div>
    </div>
</div>
</form>
